<!-- P1 start -->
<div class="page bg none" id="p1">
    <div class="bg">
        <img src="images/p1_bg.jpg">
    </div>
    <div class="p1__text auto-x" data-top="250">
        <h4 id="p1-word1">去年圣诞节和男票分手!</h4>
        <h4 id="p1-word2">今年心爱的喵子居然</h4>
        <h3 id="p1-word3">也不见了！</h3>
        <h4 id="p1-word4">这一定是我的.....</h4>
        <h2>
            <span id="p1-word5">圣</span>
            <span id="p1-word6">诞</span>
            <span id="p1-word7">劫</span>
        </h2>
    </div>
</div>
<!-- P1 end -->