<!-- 抽奖页 start -->
<div class="page bg none" id="p11">
    <div class="bg">
        <img src="images/scene/scene_bg-5.jpg">
    </div>
    <div class="p11-cat shake">
        <img src="images/scene/scene_last-cat.png">
    </div>
    <div class="bg_black3 auto-x auto-y" data-step="s10,s20"></div>

    <!-- 抽奖按钮 -->
    <div class="p11__btn-1 auto-x " data-step="s10" data-top="146">
        <img src="images/scene/scene_last-1.png">
    </div>

    <!-- 无奖提示 -->
    <div class="p11__tips-1 auto-x none" data-top="146">
        <div class="p11__btn-1">
            <img src="images/scene/scene_last-2.png">
        </div>
        <div class="button auto-x p11__btn-2">
            <img src="images/scene/scene_btn-2.png">
        </div>
    </div>

    <!-- 奖品 -->
    <div class="p11__tips-2 auto-x none" data-step="s20">
        <!-- <div class="p11__btn-close" data-top="14">
                    <img src="images/scene/scene_close-btn.png">
                </div> -->
        <div class="p11__share" data-top="8">
            <img src="images/scene/scene_share.png">
        </div>

        <!-- 奖品-优惠券 -->
        <div data-flag="1" class="p11__prize-1 none">
            <div class="tips auto-x" data-top="140">
                <img src="images/scene/scene_text-3.png">
            </div>
            <div class="prize-coupon">
                <img src="images/prize/9.png">

                <div class="prize-coupon_text auto-x">
                    <h2>400</h2>
                    <span>【 兑换码：888888888 】</span>
                    <p>仅限Z17 128G版本</p>
                    <p>2017/12/20--2018/01/02有效</p>
                </div>
            </div>
            <div class="button auto-x" data-top="757">
                <img src="images/scene/scene_btn-1.png">
            </div>
        </div>

        <!-- 奖品-手机 -->
        <div data-flag="4" class="p11__prize-2 none">
            <div class="tips auto-x" data-top="80">
                <img src="images/scene/scene_text-2.png">
            </div>
            <div class="tips2 auto-x" data-top="757">
                <img src="images/scene/scene_text-1.png">
            </div>
            <div class="prize auto-x">
                <img src="images/prize/5.png">
            </div>
            <div class="button auto-x" data-top="846">
                <img src="images/scene/scene_btn-3.png">
            </div>
            <div class="input auto-x" data-top="540">
                <input type="text" name="name" placeholder="姓名">
                <img src="images/scene/scene_input.png">
            </div>
            <div class="input auto-x" data-top="646">
                <input type="number" name="tel" placeholder="手机号">
                <img src="images/scene/scene_input.png">
            </div>
        </div>

        <!-- 奖品-抱枕 -->
        <div data-flag="2" class="p11__prize-2 p11__prize-3 none">
            <div class="tips auto-x" data-top="80">
                <img src="images/scene/scene_text-4.png">
            </div>
            <div class="tips2 auto-x" data-top="757">
                <img src="images/scene/scene_text-1.png">
            </div>
            <div class="prize auto-x">
                <img src="images/prize/6.png">
            </div>
            <div class="button auto-x" data-top="846">
                <img src="images/scene/scene_btn-3.png">
            </div>
            <div class="input auto-x" data-top="540">
                <input type="text" name="name" placeholder="姓名">
                <img src="images/scene/scene_input.png">
            </div>
            <div class="input auto-x" data-top="646">
                <input type="number" name="tel" placeholder="手机号">
                <img src="images/scene/scene_input.png">
            </div>
        </div>

        <!-- 奖品-耳机 -->
        <div data-flag="3" class="p11__prize-2 p11__prize-4 none">
            <div class="tips auto-x" data-top="96">
                <img src="images/scene/scene_text-5.png">
            </div>
            <div class="tips2 auto-x" data-top="757">
                <img src="images/scene/scene_text-1.png">
            </div>
            <div class="prize auto-x">
                <img src="images/prize/7.png">
            </div>
            <div class="button auto-x" data-top="670">
                <img src="images/scene/scene_btn-3.png">
            </div>
            <div class="input auto-x" data-top="540">
                <input type="text" name="name" placeholder="姓名">
                <img src="images/scene/scene_input.png">
            </div>
            <div class="input auto-x" data-top="646">
                <input type="number" name="tel" placeholder="手机号">
                <img src="images/scene/scene_input.png">
            </div>
        </div>

        <!-- 奖品-兑换码 -->
        <div class="p11__prize-1 p11__prize-5 none">
            <div class="tips auto-x" data-top="80">
                <img src="images/scene/scene_text-6.png">
            </div>
            <div class="tips3 auto-x" data-top="558">
                <img src="images/scene/scene_text-7.png">
            </div>
            <div class="prize auto-x">
                <img src="images/prize/8.png">

                <!-- 兑换码 -->
                <div class="prize-code auto-x">
                    1234567890
                </div>
            </div>
            <div class="button auto-x" data-top="757">
                <img src="images/scene/scene_btn-1.png">
            </div>
        </div>
    </div>

    <!-- 信息提交成功 -->
    <div class="p11__tips-success auto-x auto-y none">
        <div class="tips-close" data-top="30">
            <img src="images/scene/scene_btn-4.png">
        </div>
        <img src="images/scene/scene_last-3.png">
    </div>
</div>
<!-- 抽奖页 end -->