 <!-- P2-p4 start -->
 <div class="page none" id="p2">
    <div class="bg">
        <img src="images/p2/p2_bg.jpg">
    </div>
    <div class="p2__girl-1 none" data-step="s30,s40,s50,s60,s70">
        <img src="images/girl/girl-1.png">
    </div>
    <div class="p2__girl-5 none" data-step="s10,s20,s21" data-top="220">
        <img src="images/p2/girl-5.png">
    </div>

    <div class="p2__phone" data-step="s10,s20,s21,s30,s40" data-top="270">
        <img src="images/p2/p2-phone.png">
    </div>
    <div class="p2__phone light" data-step="s50,s60,s70" data-top="270">
        <img src="images/p2/p2-phone.png">
    </div>

    <!-- 抖动道具 -->
    <div class="p2__prop-1" tool="1" data-top="258">
        <img src="images/p2/p2_prop-1.png">
    </div>
    <div class="p2__prop-2 " tool="2">
        <img src="images/p2/p2_prop-2.png">
    </div>
    <div class="p2__prop-3 " tool="3">
        <img src="images/p2/p2_prop-3.png">
    </div>

    <!-- 提示气泡 -->
    <div class="p2__tips-1 none" data-step="s21" data-top="49">
        <img src="images/p2/p2_tips-1.png">
    </div>
    <div class="p2__tips-2 none" data-step="s20" data-top="49">
        <img src="images/p2/p2_tips-2.png">
    </div>

    <div class="p2__tips bg_black2 none" data-step="s40,s60,s70,s80">
        <div class="p2__tips-3 auto-x none p2-next-scene" data-step="s40" data-top="428">
            <img src="images/p2/p2_tips-3.png">
            <div class="close">
                <!-- close -->
            </div>
        </div>
        <div class="p2__tips-4 auto-y none" tool-tip="2" data-top="26">
            <img src="images/p2/p2_tips-4.png">
            <div class="close">
                <!-- close -->
            </div>
        </div>
        <div class="p2__tips-5 none" tool-tip="3" data-top="666">
            <img src="images/p2/p2_tips-5.png">
            <div class="close">
                <!-- close -->
            </div>
        </div>
        <div class="p2__tips-6 none" data-step="s60" data-top="246">
            <img src="images/p2/p2_tips-6.png">
            <div class="close">
                <img src="images/p2/p2-tips-6-btn.png">
            </div>
        </div>
        <div class="p2__tips-7 auto-x none" data-step="s70" data-top="242">
            <img src="images/p2/p2_tips-7.png">

            <div class="code" id="qr-code">
                <!-- <img src="images/p2/2wm.jpg"> -->
            </div>
        </div>
        <div class="p2__tips-8 none" tool-tip="1" data-top="314">
            <img src="images/p2/p2_tips-8.png">
            <div class="close">
                <!-- close -->
            </div>
        </div>
    </div>
</div>
<!-- P2-p4 end -->
