    <!-- 场景A-B start -->
    <div class="page bg none" id="p4">
        <div class="bg">
            <img src="images/scene/scene_left_bg-1.jpg">
        </div>

        <div class="p2__girl-1" data-step="s1">
            <img src="images/girl/girl-1.png">
        </div>
        <div class="girl-3 none" data-step="s100" data-top="637">
            <img src="images/girl/girl-3.png">
        </div>
        <div class="girl-4 none" data-step="s10,s20,s30,s40,s50,s70,s80,s90" data-top="274">
            <img src="images/girl/girl-4.png">
        </div>
        <div class="girl-6 none" data-step="" data-top="274">
            <img src="images/girl/girl-6.png">
        </div>

        <!-- 气泡提示 -->
        <div class="p4__tips">
            <div class="p4__tips-1 none" data-step="s20">
                <img src="images/p4/tips-1.png">
            </div>
            <div class="p4__tips-3 none" data-step="s40" data-top="370">
                <img src="images/p4/tips-3.png">
            </div>
            <div class="p4__tips-5 none" data-step="s70" data-top="-5">
                <img src="images/p4/tips-5.png">
            </div>
            <div class="p4__tips-7 none" data-step="s90" data-top="518">
                <img src="images/p4/tips-7.png">
            </div>
        </div>
    </div>
    <!-- 场景A-B end -->