
        <!-- 场景C start -->
        <div class="page bg none" id="p6">
            <div class="bg">
                <img src="images/scene/scene_left_bg-3.jpg">
            </div>

            <!-- <div class="scene__left_cat next" data-step="s10,s20,s30,s40" data-top="310">
                <img src="images/scene/scene_left_cat.png">
            </div> -->
            <div class="scene__left_cat shake" data-step="s10,s20,s30,s40,s50,s60" data-top="310">
                <img src="images/scene/scene_left_cat.png">
            </div>

            <div class="boy-5" data-step="s10" data-top="240">
                <img src="images/boy/boy-5.png">
            </div>
            <div class="boy-6" data-step="s20,s30,s40" data-top="598">
                <img src="images/boy/boy-6.png">
            </div>
            <div class="boy-7" data-step="s50,s60,s70" data-top="470">
                <img src="images/boy/boy-7.png">
            </div>

            <div class="scene__left_tips-6" data-step="s40" data-top="109">
                <img src="images/scene/scene_left_tips-6.png">
            </div>
            <div class="scene__left_tips-7" data-step="s30" data-top="283">
                <img src="images/scene/scene_left_tips-7.png">
            </div>
            <div class="scene__left_tips-8" data-step="s60,s70" data-top="165">
                <img src="images/scene/scene_left_tips-8.png">
            </div>

            <!--音乐-->
            <!-- <div class="music-cat">
                <audio src="bgm/cat.mp3" preload="auto" autoplay="autoplay"></audio>
            </div> -->
        </div>
        <!-- 场景C end -->