<!-- PK前转场页面 start -->
<div class="page bg none" id="p7">
    <div class="bg">
        <img src="images/p8/p8_left_bg.jpg">
    </div>
    <div class="p8__text p8__left_text" data-top="264">
        <h3 data-step="s10,s20,s30,s40,s50,s60,s70,s80" id=p7_s10>
            <!-- <span>可</span>
                    <span>算</span>
                    <span>找</span>
                    <span>到</span> -->
        </h3>
        <h3 id=p7_s30>
            <!-- <span>该</span>
                    <span>死</span>
                    <span>的</span>
                    <span>边</span> -->
        </h3>
        <h3 id=p7_s50>
            <!-- <span>害</span>
                    <span>我</span>
                    <span>闹</span>
                    <span>出</span>
                    <span>那</span> -->
        </h3>
        <h3 id=p7_s70>
            <!-- <span>糗</span>
                    <span>死</span>
                    <span>了</span>~~ -->
        </h3>
    </div>
</div>
<!-- PK前转场页面 end -->