<!-- 牵手页面 start -->
<div class="page bg none" id="p9">
    <div class="bg">
        <img src="images/scene/scene_left_bg-4.jpg">
    </div>

    <div class="bg p9-phone" data-step="s10">
        <img src="images/scene/scene_left_phone.png">
    </div>

    <div class="girl-11" data-step="s20" data-top="239">
        <img src="images/girl/girl-11.png">
    </div>
    <div class="girl-12" data-step="s10" data-top="239">
        <img src="images/girl/girl-12.png">
    </div>
</div>
<!-- 牵手页面 end -->