
        <!-- pk start -->
        <div class="page bg none " id="pk">
            <div class="bg">
                <img src="images/pk/pk_left_bg.jpg">
            </div>

            <!-- 血条 -->
            <div class="pk-blood pk__left-blood" data-top="60">
                <div class="num" style="width: 100%" id="pk_health_bar"></div>
            </div>
            <div class="girl-9" data-top="160">
                <img src="images/girl/girl-9.png">
            </div>
            <div class="girl-10 none" data-top="255">
                <img src="images/girl/girl-10.png">
            </div>
            <div class="girl-13 none" data-top="141">
                <img src="images/girl/girl-13.png">
            </div>

            <div class="pk-btn pk__left-btn" data-top="737">
                <img src="images/pk/pk_btn.png">
            </div>

            <div class="pk-ko pk__left-ko none" data-top="301">
                <img src="images/pk/pk_ko.png">
            </div>

            <div class="pk-cat pk__left-cat" data-top="330">
                <img src="images/pk/pk_cat.png">
            </div>

            <div class="pk-cat-tips pk__left-cat-tips shake none" data-top="144">
                <img src="images/pk/pk_cat_face2.png">
                <!-- <img class="none" src="images/pk/pk_cat_face-1.png">
                <img class="none" src="images/pk/pk_cat_face-2.png">
                <img src="images/pk/pk_cat_face-3.png"> -->
            </div>
        </div>
        <!-- pk end -->