<!-- 抽奖页 start -->
<div class="page bg none" id="p11">
    <div class="bg">
        <img src="images/scene/scene_bg-5.jpg">
    </div>
    <div class="p11-cat shake">
        <img src="images/scene/scene_last-cat.png">
    </div>
    <div class="bg_black3 auto-x auto-y" data-step="s10"></div>

    <!-- 抽奖按钮 -->
    <!-- <div class="p11__btn-1 auto-x" data-top="146" data-step="s10">
                <img src="images/scene/scene_last-1.png">
            </div> -->

    <!-- 无奖提示 -->
    <div class="p11__tips-1 auto-x none" data-step="s10" data-top="146">
        <div class="p11__btn-1">
            <img src="images/scene/scene_last-2.png">
        </div>
        <div class="button auto-x p11__btn-2">
            <img src="images/scene/scene_btn-2.png">
        </div>
    </div>
</div>
<!-- 抽奖页 end -->