<!-- 叫门 start -->
<div class="page bg none" id="p5">
    <div class="bg">
        <img src="images/scene/scene_right_bg-2.jpg">
    </div>

    <div class="girl-5 none" data-step="s20,s30,s40" data-top="540">
        <img src="images/girl/girl-5.png">
    </div>
    <div class="boy-1 none" data-step="s40" data-top="132">
        <img src="images/boy/boy-1.png">
    </div>

    <div class="p4__tips none" data-step="s30">
        <div class="p4__tips-8" data-top="330">
            <img src="images/p4/tips-8.png">
        </div>
    </div>
</div>
<!-- 叫门 end -->