<!-- 场景C start -->
<div class="page bg none" id="p6">
    <div class="bg">
        <img src="images/scene/scene_right_bg-3.jpg">
    </div>

    <div class="girl-14 none" data-step="s10,s20" data-top="330">
        <img src="images/girl/girl-14.png">
    </div>
    <div class="girl-7 none" data-step="s30,s40" data-top="330">
        <img src="images/girl/girl-7.png">
    </div>
    <div class="girl-8" data-step="s50,s60" data-top="320">
        <img src="images/girl/girl-8.png">
    </div>

    <div class="scene__right_tips-5 none" data-step="s20" data-top="125">
        <img src="images/scene/scene_right_tips-5.png">
    </div>
    <div class="scene__right_tips-6 none" data-step="s40" data-top="154">
        <img src="images/scene/scene_right_tips-6.png">
    </div>
    <div class="scene__right_tips-7" data-step="s60" data-top="48">
        <img src="images/scene/scene_right_tips-7.png">
    </div>
</div>
<!-- 场景C end -->