<!-- PK前转场页面 start -->
<div class="page bg none" id="p7">
    <div class="bg">
        <img src="images/p8/p8_right_bg.jpg">
    </div>
    <div class="p8__text p8__right_text" data-top="264">
        <h3 id=p7_s20>
            <!-- <span>我</span><span>的</span><span>阿</span><span>吉</span> -->
        </h3>
        <h3 id=p7_s40>
            <!-- <span class="f-50">(qiang)</span><span>框</span><span class="f-50">(bi)</span> -->
        </h3>
        <h3 id=p7_s60>
            <!-- <span>么</span><span>大</span><span>的</span><span>误</span><span>会</span> -->
        </h3>
        <h3 id=p7_s80>
            <!-- o(TヘTo) -->
        </h3>
    </div>
</div>
<!-- PK前转场页面 end -->