<!-- 牵手页面 start -->
<div class="page bg none" id="p9">
    <div class="bg">
        <img src="images/scene/scene_right_bg-4.jpg">
    </div>

    <div class="bg p9-phone none" data-step="s10">
        <img src="images/scene/scene_right_phone.png">
    </div>
    <!-- <div class="p9__right_phone-m" data-top="208">
                <img src="images/scene/scene_phone-2.png">
            </div> -->

    <div class="boy-10 none" data-step="s20" data-top="213">
        <img src="images/boy/boy-10.png">
    </div>
    <div class="boy-11 none" data-step="s10" data-top="213">
        <img src="images/boy/boy-11.png">
    </div>
</div>
<!-- 牵手页面 end -->