<!-- pk start -->
<div class="page bg none" id="pk">
    <div class="bg">
        <img src="images/pk/pk_right_bg.jpg">
    </div>

    <!-- 血条 css: n_0, n_25, n_75-->
    <div class="pk-blood pk__right-blood" data-top="60">
        <div class="num" style="width: 100%" id="pk_health_bar"></div>
    </div>

    <div class="boy-8" data-top="320">
        <img src="images/boy/boy-8.png">
    </div>
    <div class="boy-9 none" data-top="170">
        <img src="images/boy/boy-9.png">
        <div class="pk__right-fish" data-top="245">
            <img src="images/pk/pk_fish.png">
        </div>
    </div>
    <div class="boy-12 none" data-top="170">
        <img src="images/boy/boy-12.png">
    </div>
    <div class="pk-btn pk__right-btn" data-top="737">
        <img src="images/pk/pk_btn.png">
    </div>

    <div class="pk-ko pk__right-ko none" data-top="301">
        <img src="images/pk/pk_ko.png">
    </div>

    <div class="pk-cat pk__right-cat" data-top="330">
        <img src="images/pk/pk_cat.png">
    </div>
</div>
<!-- pk end -->